<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>bullet1_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet1.png</string>
            <key>size</key>
            <string>{44,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e662a92c8b1d859839a13040333bb3$</string>
            <key>textureFileName</key>
            <string>bullet1.png</string>
        </dict>
    </dict>
</plist>
