<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bosswave_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,200},{92,98}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{92,98}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,102}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{104,94}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{104,94}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{110,90}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{110,90}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{102,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{102,90}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,300},{94,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{94,88}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{94,90}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{94,90}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,300},{92,90}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>bosswave_lr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,186},{98,92}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{98,92}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,200},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,94},{94,104}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,104}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{90,110}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{90,102}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{90,102}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,286},{88,94}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{88,94}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,94},{90,94}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{90,94}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>bosswave_lr_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{90,92}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{90,92}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosswave.png</string>
            <key>size</key>
            <string>{414,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18be92378220cef186db5f0d6159218e$</string>
            <key>textureFileName</key>
            <string>bosswave.png</string>
        </dict>
    </dict>
</plist>
