<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>en2_down_hold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>en2_down_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>en2_down_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>en2_right_hold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>en2_right_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>en2_right_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>en2_up_hold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>en2_up_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>en2_up_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy2.png</string>
            <key>size</key>
            <string>{207,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbce1ddbb6105e86c6f957bfa9ba5933$</string>
            <key>textureFileName</key>
            <string>enemy2.png</string>
        </dict>
    </dict>
</plist>
