<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,55},{39,25}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{73,49}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{73,49}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,91},{59,69}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{59,69}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{61,65}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{61,65}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,53},{63,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{63,71}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,91}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{61,91}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{61,89}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{61,89}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode_tank.png</string>
            <key>size</key>
            <string>{256,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0812a1b7c5863301089788be864582fe$</string>
            <key>textureFileName</key>
            <string>explode_tank.png</string>
        </dict>
    </dict>
</plist>
