<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,589},{171,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,65}}</string>
                <key>sourceSize</key>
                <string>{171,65}</string>
            </dict>
            <key>button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,484},{153,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{153,57}}</string>
                <key>sourceSize</key>
                <string>{171,65}</string>
            </dict>
            <key>daguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,702},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,866},{156,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{156,34}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,656},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,708},{156,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{156,34}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,748},{156,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{156,34}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,758},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,748},{156,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{156,34}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,748},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>daguan_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,543},{156,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{156,34}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>daguan_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,752},{188,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,48}}</string>
                <key>sourceSize</key>
                <string>{188,48}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,579},{127,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>hengtiaobiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,16}}</string>
                <key>sourceSize</key>
                <string>{800,16}</string>
            </dict>
            <key>leidafaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,484},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>light_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{207,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,202}}</string>
                <key>sourceSize</key>
                <string>{207,202}</string>
            </dict>
            <key>num_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,579},{120,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,13}}</string>
                <key>sourceSize</key>
                <string>{120,13}</string>
            </dict>
            <key>num_yello.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,752},{180,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,21}}</string>
                <key>sourceSize</key>
                <string>{180,21}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,956},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>star_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,942},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>weijiesuoditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,804},{161,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,166}}</string>
                <key>sourceSize</key>
                <string>{161,166}</string>
            </dict>
            <key>weijiesuozhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,758},{161,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,166}}</string>
                <key>sourceSize</key>
                <string>{161,166}</string>
            </dict>
            <key>xiaoguanwaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,484},{255,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,272}}</string>
                <key>sourceSize</key>
                <string>{255,272}</string>
            </dict>
            <key>xiaoguanwaikuang_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{266,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,282}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>xuhuabeijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_mission.png</string>
            <key>size</key>
            <string>{896,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae68743ef9383999e9bf6aa8b5e5cf7$</string>
            <key>textureFileName</key>
            <string>UI_mission.png</string>
        </dict>
    </dict>
</plist>
