<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,372},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>atk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{132,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{134,132}</string>
            </dict>
            <key>atk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>atk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,238},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>atk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,515},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>atk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,411},{134,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{134,132}</string>
            </dict>
            <key>attack_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,403},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,784},{66,20}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>box_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{161,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{161,316}}</string>
                <key>sourceSize</key>
                <string>{187,348}</string>
            </dict>
            <key>box_upgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,348}}</string>
                <key>sourceSize</key>
                <string>{187,348}</string>
            </dict>
            <key>button_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,545},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>button_equip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,367},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,34}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>button_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,545},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>button_upgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,639},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,34}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>critical_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,520},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>def1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>def2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,586},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>def3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,506},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>def4.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>def5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{133,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,132}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>def6.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,234},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>defense_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,286},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>dilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,717},{66,20}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{126,98}</string>
            </dict>
            <key>dongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,649},{66,20}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>double_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,462},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>double_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,344},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,238},{67,20}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{67,20}}</string>
                <key>sourceSize</key>
                <string>{139,74}</string>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,188},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,188},{66,20}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{138,74}</string>
            </dict>
            <key>goumai-dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,639},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,34}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>goumai-zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,188},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>hongse.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{140,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,147}}</string>
                <key>sourceSize</key>
                <string>{140,147}</string>
            </dict>
            <key>jiesuotanke.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{139,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,73}}</string>
                <key>sourceSize</key>
                <string>{139,73}</string>
            </dict>
            <key>lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,144},{146,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,123}}</string>
                <key>sourceSize</key>
                <string>{146,123}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,210},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,194},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,162},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>life_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,402},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,77},{135,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,83}}</string>
                <key>sourceSize</key>
                <string>{135,83}</string>
            </dict>
            <key>locked_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,784},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,761},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,649},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,650},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,136},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,136},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,760},{105,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,895},{103,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>locked_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{103,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>lvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,269},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>paint_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,136},{116,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,74}}</string>
                <key>sourceSize</key>
                <string>{116,74}</string>
            </dict>
            <key>paint_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,162},{116,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,74}}</string>
                <key>sourceSize</key>
                <string>{116,74}</string>
            </dict>
            <key>paint_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,269},{116,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,74}}</string>
                <key>sourceSize</key>
                <string>{116,74}</string>
            </dict>
            <key>partner.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,226},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>shengming.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,212},{66,20}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>shuangbeifangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,583},{66,19}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>shuangbeigongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,852},{66,19}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>speed_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,639},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>unlockeverything.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,520},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>weixingwuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,212},{66,20}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{130,98}</string>
            </dict>
            <key>word_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,372},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>word_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,629},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>word_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,606},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>word_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,210},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>word_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,583},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>yizhuangbei-dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,652},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,34}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>yizhuangbei-zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,515},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_shop_box.png</string>
            <key>size</key>
            <string>{883,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dee97ddcb447d4fdc4829ff7e1fdcab$</string>
            <key>textureFileName</key>
            <string>UI_shop_box.png</string>
        </dict>
    </dict>
</plist>
