<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_grassdis_f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{97,257}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,54},{97,257}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{127,263}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,47},{127,263}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,305},{169,295}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,295}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{161,307}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{161,307}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,299},{165,291}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{165,291}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{161,295}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{161,295}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,311},{157,303}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{157,303}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,602},{167,293}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{167,293}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{169,301}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{169,301}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{169,303}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{169,303}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,307}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{169,307}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,616},{155,299}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{155,299}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
            <key>g_grassdis_f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{167,283}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{167,283}}</string>
                <key>sourceSize</key>
                <string>{169,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f637196a3dfb3f05684d1a619a4d5ee$</string>
            <key>textureFileName</key>
            <string>anim_2.png</string>
        </dict>
    </dict>
</plist>
