<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_cubebottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,998},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>g_cubetop.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,575},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>g_els_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,493},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{122,32}</string>
            </dict>
            <key>g_els_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,918},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>g_els_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,918},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>g_els_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,918},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>g_els_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,918},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>g_els_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,918},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>g_els_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,918},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>g_grass0.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,726},{85,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>g_grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,579},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>g_grass10.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,657},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>g_grass11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,853},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>g_grass12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,754},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>g_grass13.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,966},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>g_grass14.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,982},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>g_grass15.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,726},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>g_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,723},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>g_grass3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,790},{77,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,61}}</string>
                <key>sourceSize</key>
                <string>{77,61}</string>
            </dict>
            <key>g_grass4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,271},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>g_grass5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,966},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>g_grass6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,726},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>g_grass7.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,814},{86,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>g_grass8.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,815},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>g_grass9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,726},{87,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,63}}</string>
                <key>sourceSize</key>
                <string>{87,63}</string>
            </dict>
            <key>g_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,982},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
            <key>g_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,982},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>g_item_1_anim.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,982},{322,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{322,37}}</string>
                <key>sourceSize</key>
                <string>{324,37}</string>
            </dict>
            <key>g_item_1_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,982},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>g_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,982},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>g_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,982},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>g_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,687},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>g_kk_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,575},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>g_kk_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,998},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>g_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,918},{256,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
            <key>g_num_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,484},{496,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{496,73}}</string>
                <key>sourceSize</key>
                <string>{496,75}</string>
            </dict>
            <key>g_num_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,203},{256,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
            <key>g_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,484},{432,354}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{432,354}}</string>
                <key>sourceSize</key>
                <string>{500,376}</string>
            </dict>
            <key>g_p_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,335},{145,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,23},{145,57}}</string>
                <key>sourceSize</key>
                <string>{271,105}</string>
            </dict>
            <key>g_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{480,364}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{480,364}}</string>
                <key>sourceSize</key>
                <string>{500,376}</string>
            </dict>
            <key>g_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{272,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,105}}</string>
                <key>sourceSize</key>
                <string>{272,105}</string>
            </dict>
            <key>g_power_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,652},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>g_power_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,617},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>g_prop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,579},{46,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>g_prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,657},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>g_prop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,493},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>g_prop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,203},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>g_prop_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,726},{170,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,26}}</string>
                <key>sourceSize</key>
                <string>{170,26}</string>
            </dict>
            <key>g_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,726},{177,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,49}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>g_targetboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,203},{408,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,288}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>g_targetfail.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,853},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,61}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>g_targetok.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,966},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,54}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>g_time_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,493},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>g_timesup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{512,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,153}}</string>
                <key>sourceSize</key>
                <string>{512,153}</string>
            </dict>
            <key>g_tips_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>g_tips_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,493},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>g_u_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,853},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>g_u_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,90}}</string>
                <key>sourceSize</key>
                <string>{644,90}</string>
            </dict>
            <key>g_u_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,649},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>g_u_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,966},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>g_u_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{640,107}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,107}}</string>
                <key>sourceSize</key>
                <string>{640,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa8476ab8a2fd40928572862c80d2e1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
