<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_mm_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{201,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{201,57}}</string>
                <key>sourceSize</key>
                <string>{271,105}</string>
            </dict>
            <key>u_mm_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,194},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>u_mm_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>u_mm_musicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_mm_musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>u_mm_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{201,57}}</string>
                <key>sourceSize</key>
                <string>{271,105}</string>
            </dict>
            <key>u_mm_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{131,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,23},{131,57}}</string>
                <key>sourceSize</key>
                <string>{271,105}</string>
            </dict>
            <key>u_mm_soundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,120},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_mm_soundon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{53,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43344630b1e9ae3bd7052d0cf79b101b$</string>
            <key>textureFileName</key>
            <string>mainmenu.png</string>
        </dict>
    </dict>
</plist>
